* {
  padding: 0;
  margin: 0;
  font-family: 'Indie Flower', cursive;
  font-size: 1.1rem;
}

body {
  background-color: #222216;
}

.red,
.green,
.yellow {
  width: 250px;
  height: 350px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.yellow {
  border: 3px solid #f0f66e;
}
.red {
  border: 3px solid #e4572e;
}

.green {
  border: 3px solid #8be129;
}

.about-animal-img {
  height: 350px;
  width: 450px;
}

.animal-card-img {
  background-color: #f0f8ea;
  height: 200px;
  width: 100%;
}

.home {
  background-image: url('/src/assets/pexels-tarcila-mesquita-4190917.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 600px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 900px;
  width: 600px;
  position: relative;
}

.filter {
  position: absolute;
  background-color: rgba(1, 13, 20, 0.469);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(242, 224, 184);
}

li {
  list-style: none;
  float: left;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: #e4572e;
  transition: 0.3s ease-in-out;
}

.hunger-status {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  color: whitesmoke;
  font-family: 'Indie Flower', cursive;
  /* font-family: 'Rubik Puddles', cursive; */
}

.logo {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: auto;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.animal-info {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #f0f8ea;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h2,
h3,
p,
img,
span {
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
}

button {
  align-items: center;
  background-clip: padding-box;
  background-color: #e4572e;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 150px;
}

button:hover,
button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

button:disabled {
  background-color: lightslategrey;
}
