* {
  padding: 0;
  margin: 0;
}

.red {
  background-color: rgb(194, 60, 60);
  width: 200px;
  height: 300px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: lightgreen;
  width: 200px;
  height: 300px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 1rem;
}

.animal-info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
